{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "value-keyword-case": ["lower", { "ignoreKeywords": ["YuGothic"] }],
    "order/properties-alphabetical-order": true,
    "scss/at-rule-no-unknown": true
  }
}
