{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": ["**/*.php"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "alpha-value-notation": "number",
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["Font Awesome 5 Brands", "Font Awesome 5 Free"]
      }
    ],
    "selector-class-pattern": ["^[\\w-]+$", { "resolveNestedSelectors": true }],
    "value-keyword-case": ["lower", { "ignoreKeywords": ["YuGothic"] }],
    "order/properties-alphabetical-order": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space"
  }
}
