.card-search {
  .thumbnail {
    @media (min-width: $screen-sm-min) {
      box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    @media (max-width: $screen-xs-max) {
      border: none;
      background: none;
    }
  }
}
.card-container {
  .card {
    @media (max-width: $screen-xs-max) {
      &:first-child {
        .thumbnail {
          border: none;
          .caption {
            overflow: visible;
          }
        }
      }
    }
    .thumbnail {
      .card-image-wrap {
        position: relative;
        @media (max-width: $screen-xs-max) {
          width: 30%;
          height: 30%;
        }
      }
      @media (min-width: $screen-sm-min) {
        box-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
      }
      @media (max-width: $screen-xs-max) {
        display: flex;
        margin-bottom: 11px;
        padding-bottom: 11px;
        border-bottom: 1px solid $gray-dark;
        background: none;
      }
      .card-image {
        width: 100%;
        @media (min-width: $screen-sm-min) {
          border-radius: $border-radius-base $border-radius-base 0 0;
          cursor: pointer;
        }
        @media (max-width: $screen-xs-max) {
          margin-right: 15px;
          border-radius: $border-radius-base;
          box-shadow: 1px 1px 2px rgba(0,0,0,.2);
        }
      }
      .card-play {
        opacity: 0;
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          pointer-events: none;
          @include app-icon($fa-var-play-circle-o);
          @media (min-width: $screen-sm-min) {
            font-size: 250%;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 150%;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        .caption {
          padding-top: 0;
          &:first-child {
            width: 100%;
          }
          &:not(:first-child) {
            width: 70%;
          }
        }
      }
      .card-title {
        display: block;
        font-weight: bold;
        color: $text-color;
        @include text-truncate();
        &:hover,
        &:active {
          color: #fff;
        }
      }
      .card-created-date {
        color: darken($text-color, 40%);
        font-size: 85%;
        &::before {
          @include app-icon($fa-var-clock-o);
        }
      }
    }
  }
  .list {
    .thumbnail {
      background: none;
      border-bottom: 1px solid $gray-dark;
      i {
        color: darken($text-color, 10%);
      }
      .label {
        padding: .2em .3em .3em;
      }
    }
  }
}
