.playlist-title {
  padding-left: 0;
  > li {
    @media (min-width: $screen-sm-min) {
      font-size: 130%;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 110%;
    }
    a::after {
      @include app-icon($fa-var-angle-right);
      color: darken($link-color, 5%);
    }
    @include text-truncate();
  }
}
