//=== common
.external-link {
  font-weight: bold;
  &:before {
    @include icon-before(3px);
    content: "\f08e";
  }
}
.refresh-link {
  color: $text-color;
  &:hover,
  &:visited,
  &:active {
    color: $text-color;
  }
  &:before {
    @include icon-before(3px);
    content: "\f021";
  }
}
.total-count {
  margin-top: 5px;
  color: darken($text-color, 20%);
  font-size: 85%;
  &:before {
    @include icon-before(3px);
    content: "\f05a";
  }
}

//=== tile
#tile-search {
  .thumbnail {
    @media (min-width: $screen-sm-min) {
      @include box-shadow(1px 1px 1px rgba(0,0,0,.2));
    }
    @media (max-width: $screen-xs-max) {
      border: none;
      background: transparent;
    }
  }
}
#tile-container {
  .tile {
    &:not(:first-child) {
      opacity: 0;
    }
    @media (max-width: $screen-xs-max) {
      &:first-child {
        .thumbnail {
          border: none;
          .caption {
            overflow: visible;
          }
        }
      }
    }
    .thumbnail {
      @media (min-width: $screen-sm-min) {
        @include box-shadow(2px 2px 3px rgba(0,0,0,.2));
        img {
          border-radius: $border-radius-base $border-radius-base 0 0;
        }
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 11px;
        padding-bottom: 11px;
        border-bottom: 1px solid darken($gray-dark, 2%);
        @include box-shadow(0px 1px 0px rgba(0,0,0,.1));
        background: transparent;
        @include clearfix;
        > img {
          width: 30%;
          height: 30%;
          float: left !important;
          margin-right: 9px;
          border-radius: $border-radius-base;
          @include box-shadow(1px 1px 2px rgba(0,0,0,.2));
        }
        .caption {
          padding-top: 0;
          overflow: hidden;
        }
      }
    }
  }
  .list {
    .thumbnail {
      background: transparent;
      border-bottom: 1px solid darken($gray-dark, 2%);
      @include box-shadow(0px 1px 0px rgba(0,0,0,.1));
      a {
        > i {
          color: darken($text-color, 10%);
        }
      }
    }
  }
}

//=== track
#track-now-clear {
  cursor: pointer;
  &:before {
    @include icon-before(5px);
    padding-left: 5px;
    content: "\f00d";
  }
}
#track-now-title {
  cursor: pointer;
  font-weight: bold;
  &:before {
    @include icon-before(5px);
    padding-left: 5px;
    content: "\f028";
  }
}
.track-title {
  display: block;
  font-weight: bold;
  color: $text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover,
  &:visited,
  &:active {
    color: $text-color;
  }
}
.track-image {
  width: 100%;
  cursor: pointer;
}
.track-created-date {
  color: darken($text-color, 40%);
  font-size: 85%;
  &:before {
    @include icon-before(3px);
    content: "\f017";
  }
}

//=== playlist
#playlist {
  padding-left: 10px;
  list-style: decimal-leading-zero inside none;
  > li {
    padding: 5px;
    border-bottom: 1px solid $gray-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
      background-color: $gray-dark;
    }
    &.active {
      color: $brand-primary;
    }
  }
}
