.pagination {
  > li {
    @media (max-width: $screen-xs-max) {
      font-size: 80%;
    }
    a,
    span {
      margin-left: 0;
    }
  }
}
.pagination-info {
  position: relative;
  z-index: -1;
  color: lighten($gray-dark, 10%);
  @media (min-width: $screen-sm-min) {
    bottom: 50px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 80%;
    bottom: 48px;
  }
}
