.form-control {
  @media (max-width: $screen-xs-max) {
    font-size: 16px;
  }
}
input[readonly].form-control {
    background-color: $gray-darker;
}
.required {
  > label::after {
    content: " *";
    color: darken($brand-primary, 10%);
  }
}
.hint-block {
  color: $gray-light;
}
.error-summary {
  color: $state-danger-text;
  background: $body-bg;
  border: 1px solid $gray-dark;
  padding: $alert-padding;
  border-radius: $alert-border-radius;
  margin: 0 0 15px 0;
}
#input-search {
  margin-top: 5px;
  .form-group {
    margin-bottom: 0;
  }
  .form-control-feedback {
    pointer-events: auto;
  }
  .btn-default {
    background-color: transparent;
    border: none;
  }
}
