//#track-now-clear {
#now-playing-clear {
  cursor: pointer;
  &::before {
    @include app-icon($fa-var-close);
  }
}
#now-playing-title {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  &:hover,
  &:active {
    color: #fff;
  }
  &::before {
    @include app-icon($fa-var-volume-up);
  }
}
#now-playing-loading {
  margin-top: 3px;
  color: $gray-light;
}
