//== Common
.external-link {
  font-weight: bold;
  &::before {
    @include app-icon($fa-var-external-link);
  }
}
.refresh-link {
  color: $text-color;
  &:hover,
  &:active {
    color: #fff;
  }
  &::before {
    @include app-icon($fa-var-repeat);
  }
}
.total-count {
  margin-top: 5px;
  color: darken($text-color, 25%);
  font-size: 85%;
}

//== Tiles
#tile-search {
  .thumbnail {
    @media (min-width: $screen-sm-min) {
      box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    @media (max-width: $screen-xs-max) {
      border: none;
      background: none;
    }
  }
}
#tile-container {
  .tile {
    @media (max-width: $screen-xs-max) {
      &:first-child {
        .thumbnail {
          border: none;
          .caption {
            overflow: visible;
          }
        }
      }
    }
    .thumbnail {
      @media (min-width: $screen-sm-min) {
        box-shadow: 2px 2px 3px rgba(0,0,0,.2);
        > img {
          width: 100%;
          border-radius: $border-radius-base $border-radius-base 0 0;
        }
      }
      @media (max-width: $screen-xs-max) {

        margin-bottom: 11px;
        padding-bottom: 11px;
        border-bottom: 1px solid $gray-dark;
        background: none;
        > img {
          width: 30%;
          height: 30%;
          float: left !important;
          margin-right: 9px;
          border-radius: $border-radius-base;
          box-shadow: 1px 1px 2px rgba(0,0,0,.2);
        }
        .caption {
          padding-top: 0;
          overflow: hidden;
        }
      }
    }
  }
  .list {
    .thumbnail {
      background: none;
      border-bottom: 1px solid $gray-dark;
      i {
        color: darken($text-color, 10%);
      }
      .label {
        padding: .2em .3em .3em;
      }
    }
  }
}

//== Track
#track-now-clear {
  cursor: pointer;
  &::before {
    @include app-icon($fa-var-close);
  }
}
#track-now-title {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  &:hover,
  &:active {
    color: #fff;
  }
  &::before {
    @include app-icon($fa-var-volume-up);
  }
}
#track-modal-loading {
  margin-top: 3px;
  color: $gray-light;
}
.track-image {
  width: 100%;
  cursor: pointer;
}
.track-title {
  display: block;
  font-weight: bold;
  color: $text-color;
  cursor: pointer;
  @include text-truncate();
  &:hover,
  &:active {
    color: #fff;
  }
}
.track-created-date {
  color: darken($text-color, 40%);
  font-size: 85%;
  &::before {
    @include app-icon($fa-var-clock-o);
  }
}
