//== Common
.external-link {
  font-weight: bold;
  &:before {
    @include app-icon($fa-var-external-link);
  }
}
.refresh-link {
  color: $text-color;
  &:hover,
  &:active {
    color: #fff;
  }
  &:before {
    @include app-icon($fa-var-repeat);
  }
}
.total-count {
  margin-top: 5px;
  color: darken($text-color, 25%);
  font-size: 85%;
}

//== Tiles
#tile-search {
  .thumbnail {
    @media (min-width: $screen-sm-min) {
      box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
    @media (max-width: $screen-xs-max) {
      border: none;
      background: transparent;
    }
  }
}
#tile-container {
  .tile {
    &:not(:first-child) {
      opacity: 0;
    }
    @media (max-width: $screen-xs-max) {
      &:first-child {
        .thumbnail {
          border: none;
          .caption {
            overflow: visible;
          }
        }
      }
    }
    .thumbnail {
      @media (min-width: $screen-sm-min) {
        box-shadow: 2px 2px 3px rgba(0,0,0,.2);
        img {
          border-radius: $border-radius-base $border-radius-base 0 0;
        }
      }
      @media (max-width: $screen-xs-max) {
        margin-bottom: 11px;
        padding-bottom: 11px;
        border-bottom: 1px solid $gray-dark;
        background: transparent;
        > img {
          width: 30%;
          height: 30%;
          float: left !important;
          margin-right: 9px;
          border-radius: $border-radius-base;
          box-shadow: 1px 1px 2px rgba(0,0,0,.2);
        }
        .caption {
          padding-top: 0;
          overflow: hidden;
        }
      }
    }
  }
  .list {
    opacity: 0;
    .thumbnail {
      background: transparent;
      border-bottom: 1px solid $gray-dark;
      a {
        > i {
          color: darken($text-color, 10%);
        }
      }
      a.label {
        padding: .2em .3em .3em;
      }
    }
  }
}

//=== Track
#track-now-clear {
  cursor: pointer;
  &:before {
    @include app-icon($fa-var-close);
  }
}
#track-now-title {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  &:hover,
  &:active {
    color: #fff;
  }
  &:before {
    @include app-icon($fa-var-volume-up);
  }
}
.track-title {
  display: block;
  font-weight: bold;
  color: $text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &:hover,
  &:active {
    color: #fff;
  }
}
.track-image {
  width: 100%;
  cursor: pointer;
}
.track-created-date {
  color: darken($text-color, 40%);
  font-size: 85%;
  &:before {
    @include app-icon($fa-var-clock-o);
  }
}
.track-modal-loading {
  margin-top: 3px;
  color: $gray-light;
}

//=== Playlist
.playlist-title {
  list-style: none;
  padding-left: 0;
  > li {
    @media (min-width: $screen-sm-min) {
      font-size: 130%;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 110%;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $link-color;
  }
  .playlist-frequency {
    padding: 0 .5em;
    margin-right: .5em;
    border-radius: $border-radius-base;
    color: darken($text-color, 15%);
    background-color: $gray-dark;
    font-size: 70%;
  }
}
#playlist {
  padding-left: 10px;
  list-style: decimal-leading-zero inside none;
  > li {
    padding: 5px;
    border-bottom: 1px solid $gray-dark;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: $gray-dark;
    }
    &.active {
      color: $brand-primary;
    }
  }
}
