@use "sass:color";
@use "sass:map";

// Color system
$primary:       #cc6055;
$secondary:     #919191;
$success:       #3c763d;
$info:          #31708f;
$warning:       #ffc107;
$danger:        #a94442;
$light:         #f8f9fa;
$dark:          #2e2e2e;
$colors: (
);
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Options
$enable-caret:                false;
$enable-shadows:              true;
$enable-smooth-scroll:        false;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
);

// Body
$body-bg:       #222;
$body-color:    #ced4da;

// Links
$link-decoration:                         none;

// Components
$border-radius:               0.25rem;
$border-radius-sm:            0.15rem;
$box-shadow:                  0 0.5rem 1rem color.scale(black, $lightness: 10%);
$component-active-bg:         $primary;

// Typography
$font-family-sans-serif:      "Source Sans Pro", "Yu Gothic", YuGothic sans-serif;
$font-family-base:            $font-family-sans-serif;
$font-size-base:              1rem;
$text-muted:                  #5e5e5e;
$hr-margin-y:                 $spacer * 0.5;
$hr-color:                    #919191;
$hr-height:                   1px;
$small-font-size:             0.675em;

// Tables
$table-color:                 $body-color;
$table-striped-color:         $table-color;
$table-group-separator-color: inherit;

// Forms
$form-text-font-size:                   $font-size-base;
$input-bg:                              color.scale($body-bg, $lightness: -20%);
$input-color:                           color.scale($body-color, $lightness: -15%);
$input-border-color:                    $dark;
$form-select-indicator-color:           $secondary;

// Z-index
$zindex-toast:      1090;

// Navbar
$navbar-nav-link-padding-x:         0.8rem;
$navbar-dark-color:                 color.scale(black, $lightness: 60%);
$navbar-dark-hover-color:           $body-color;
$navbar-dark-active-color:          $body-color;
$navbar-dark-toggler-border-color:  none;
$navbar-toggler-font-size:          $font-size-base;

// Dropdowns
$dropdown-bg:                       $body-bg;
$dropdown-border-color:             color.scale(black, $lightness: 10%);
$dropdown-divider-bg:               $dark;
$dropdown-box-shadow:               $box-shadow;
$dropdown-link-color:               color.scale(black, $lightness: 60%);
$dropdown-link-hover-color:         $body-color;
$dropdown-link-hover-bg:            $dark;

// Pagination
$pagination-padding-y:              0.5rem;
$pagination-bg:                     transparent;
$pagination-border-color:           none;
$pagination-focus-bg:               color.scale(black, $lightness: 30%, $alpha: -80%);
$pagination-hover-bg:               $pagination-focus-bg;
$pagination-disabled-bg:            transparent;

// Cards
$card-spacer-y:                     0.8rem;
$card-spacer-x:                     0.6rem;
$card-border-color:                 $body-bg;
$card-bg:                           $body-bg;

// Toasts
$toast-font-size:                   $font-size-base;
$toast-color:                       $body-color;
$toast-background-color:            color.scale($body-bg, $lightness: 10%, $alpha: -15%);
$toast-border-width:                0;

// Modals
$modal-content-bg:                  transparent;
$modal-content-border-color:        none;
$modal-backdrop-opacity:            0.7;
$modal-content-box-shadow-xs:       none;
$modal-content-box-shadow-sm-up:    none;
$modal-md:                          600px;

// Close
$btn-close-color:                   $light;
