@import "../variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/text-truncate";

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 0.6; }
}

.card {
  position: relative;

  @include media-breakpoint-down(sm) {
    flex-direction: row;
  }

  @include media-breakpoint-up(sm) {
    background-color: var(--bs-dark);
    box-shadow: $box-shadow-sm;
    display: block;
  }

  .card-img-wrap {
    position: relative;

    @include media-breakpoint-down(sm) {
      height: 30%;
      width: 30%;
    }

    .card-img-top {
      cursor: pointer;
    }

    .card-play {
      animation: fade-in 1s ease 0s 1 normal forwards;
      color: var(--bs-light);
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      @include media-breakpoint-down(sm) {
        font-size: 150%;
      }

      @include media-breakpoint-up(sm) {
        font-size: 250%;
      }
    }
  }

  .card-body {
    @include media-breakpoint-down(sm) {
      padding-top: 0;
      width: 70%;
    }

    @include media-breakpoint-up(sm) {
      padding-bottom: 0.3rem;
    }

    .card-title {
      @include text-truncate;

      font-size: 108%;
      font-weight: bold;
      margin-bottom: 0.4rem;
    }

    .card-text {
      @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
      }
    }

    .card-date {
      color: gray;
      text-align: right;

      @include media-breakpoint-down(sm) {
        bottom: -5px;
        font-size: 85%;
        position: absolute;
        right: 0;
      }

      @include media-breakpoint-up(sm) {
        margin-top: 1rem;
      }
    }
  }
}
