@import "../variables/body";
@import "../variables/components";
@import "~bootstrap/scss/mixins/breakpoints";

@keyframes fade-in {
  from {opacity: 0 } to { opacity: .6 }
}

.card-container {
  .card {
    position: relative;

    @include media-breakpoint-only(xs) {
      flex-direction: row;
      background-color: $body-bg;
    }

    @include media-breakpoint-up(sm) {
      display: block;
      background-color: $gray-800;
      box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    }

    .card-img-wrap {
      position: relative;

      @include media-breakpoint-only(xs) {
        width: 30%;
        height: 30%;
      }

      .card-img-top {
        cursor: pointer;

        @include media-breakpoint-only(xs) {
          border-radius: $border-radius-sm;
        }
      }

      .card-play {
        animation: fade-in 1s ease 0s 1 normal forwards;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        pointer-events: none;

        @include media-breakpoint-only(xs) {
          font-size: 150%;
        }

        @include media-breakpoint-up(sm) {
          font-size: 250%;
        }
      }
    }

    .card-body {
      @include media-breakpoint-only(xs) {
        width: 70%;
        padding-top: 0;
      }

      .card-title {
        margin-bottom: 0;
      }

      @include media-breakpoint-only(xs) {
        .card-text {
          padding-bottom: 10px;
        }
      }

      .card-date {
        color: $gray-600;
        text-align: right;

        @include media-breakpoint-only(xs) {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 75%;
        }

        @include media-breakpoint-up(sm) {
          padding-top: 10px;
          font-size: 80%;
        }
      }
    }
  }
}
