@import "../variables";

.required {
  > label::after {
    color: var(--bs-danger);
    content: " *";
  }
}

.error-summary {
  border: 1px solid var(--bs-dark);
  border-radius: $border-radius;
  color: var(--bs-danger);
  margin: 0 0 15px;
  padding: 0.75rem 1.25rem;
}
