@import "../variables";

.required {
  > label::after {
    color: var(--danger);
    content: " *";
  }
}

.error-summary {
  border: 1px solid var(--dark);
  border-radius: $border-radius;
  color: var(--danger);
  margin: 0 0 15px 0;
  padding: 0.75rem 1.25rem;
}
