@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.layout-main {
  @include media-breakpoint-only(xs) {
    padding-bottom: 7rem;
  }

  @include media-breakpoint-only(sm) {
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;
  }
}
