@keyframes loading {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.now-playing-clear {
  cursor: pointer;
}

.now-playing-title {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;

  &:hover,
  &:active {
    color: var(--light);
  }
}

.now-playing-loading {
  color: lightgray;
  font-size: 200%;
  font-weight: bold;
  pointer-events: none;

  > span {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: ease;

    &:nth-child(1) { animation-delay: 0.1s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.3s; }
  }
}
