@import "../variables/body";

.now-playing-clear {
  cursor: pointer;
}

.now-playing-title {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;

  &:hover,
  &:active {
    color: $white;
  }
}

.now-playing-loading {
  margin-top: 3px;
  color: $gray-800;
}
