@import "../variables/body";

.refresh-link {
  color: $body-color;

  &:hover,
  &:active {
    color: $white;
  }
}

.total-count {
  padding-top: 5px;
  text-align: right;
  color: $gray-600;
  font-size: 80%;
}
