@import "../variables/system-color";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.pagination {
  > li {
    @include media-breakpoint-down(sm) {
      font-size: 80%;
    }
  }
}

.pagination-info {
  position: relative;
  z-index: -1;
  color: $gray-700;

  @include media-breakpoint-only(xs) {
    font-size: 75%;
    bottom: 48px;
  }

  @include media-breakpoint-up(sm) {
    font-size: 85%;
    bottom: 50px;
  }
}
