@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.embed-responsive-1by1 {
  padding-bottom: 100%;
  width: 100%;
}

.embed-responsive-1by1-half {
  @include media-breakpoint-down(md) {
    padding-bottom: 100%;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    margin: 0 auto;
    padding-bottom: 56.25%;
    width: 56.25%;
  }
}
