.tag {
  color: var(--bs-body-color);
  display: inline-block;
  line-height: 1;
  margin-right: 0.8rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover {
    color: var(--bs-light);
  }
}
