@import "../variables";

.tag {
  color: var(--bs-secondary);
  display: inline-block;
  line-height: 1;
  margin-right: 0.8rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &:hover {
    color: $body-color;
  }
}
