@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../variables";

.toast {
  position: fixed;
  top: 1rem;
  z-index: $zindex-toast;

  @include media-breakpoint-down(sm) {
    left: 0;
    right: 0;
  }

  @include media-breakpoint-up(sm) {
    right: 1rem;
  }
}
