@import "../variables/body";
@import "../variables/system-color";

.grid-view {
  font-size: 85%;

  th {
    white-space: nowrap;
  }

  td {
    max-width: 200px;
    word-wrap: break-word;
  }

  table {
    i {
      color: lighten($body-color, 10%);
    }
  }
}

.detail-view {
  font-size: 85%;

  i {
    color: lighten($body-color, 10%);
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

a.asc::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $gray-600;

}

a.desc::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $gray-600;
}

