a.asc,
a.desc {
  &::after {
    border-left: 5px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
  }
}

a.asc::after {
  border-right: 5px solid transparent;
  border-top: 5px solid var(--bs-primary);
}

a.desc::after {
  border-bottom: 5px solid var(--bs-primary);
  border-right: 5px solid transparent;
}
