@import "../variables/alert";
@import "../variables/body";
@import "../variables/components";

.required {
  > label::after {
    content: " *";
    color: $danger;
  }
}

.error-summary {
  color: $danger;
  background: $body-bg;
  border: 1px solid $gray-800;
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $border-radius;
  margin: 0 0 15px 0;
}
