.external-link {
  font-weight: bold;
  &::before {
    @include app-icon($fa-var-external-link);
  }
}
.refresh-link {
  color: $text-color;
  &:hover,
  &:active {
    color: #fff;
  }
  &::before {
    @include app-icon($fa-var-repeat);
  }
}
.total-count {
  margin-top: 5px;
  color: darken($text-color, 25%);
  font-size: 85%;
}
