@import "~font-awesome/scss/mixins";

@mixin app-icon($content, $provider: "fa") {
  @if $provider == "fa" {
    @include fa-icon();
  }
  width: (18em / 12);
  text-align: center;
  content: $content;
}
