@import "body";

$dropdown-bg:                       $body-bg;
$dropdown-link-color:               $gray-500;
$dropdown-link-hover-color:         $gray-300;
$dropdown-link-hover-bg:            $gray-800;
$dropdown-divider-bg:               $gray-800;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175);
