@import "components";
@import "body";

$input-bg:                              darken($gray-900, 1%);
$input-color:                           darken($gray-400, 15%);
$input-border-color:                    $gray-800;
$input-border-focus:                    $primary;

$input-focus-border-color:              lighten($component-active-bg, 25%);

$input-btn-focus-width:                 .2rem;
$input-btn-focus-color:                 rgba($component-active-bg, .25);
$input-btn-focus-box-shadow:            0 0 0 $input-btn-focus-width $input-btn-focus-color;
