$modal-content-bg:              transparent;
$modal-content-border-color:    none;

$modal-backdrop-opacity:        .7;

$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;

$modal-md:                          600px;
