@import "fonts";

$navbar-nav-link-padding-x:         .8rem;

$navbar-dark-color:                 rgba($white, .5);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-toggler-border-color:  none;

$navbar-toggler-font-size:          $font-size-base;

$navbar-brand-font-size:            $font-size-lg;
